In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/datasets/Copy of diabetes (1) (2) (1).csv')

In [ ]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
data.shape

(768, 9)

In [ ]:
data.isna().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [ ]:
data=data.drop_duplicates()

In [ ]:
x=data.iloc[:,0:8]

In [ ]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [ ]:
y=data.iloc[:,-1]

In [ ]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.20)

In [ ]:
from sklearn.preprocessing import StandardScaler
sd = StandardScaler()
x_test = sd.fit_transform(x_test)
x_train = sd.fit_transform(x_train)

In [ ]:
#svm
from sklearn.svm import SVC
svc=SVC()
svc.fit(x_train,y_train)

SVC()

In [ ]:
#predict/test
y_pred = svc.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[91, 17],
       [22, 24]])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7467532467532467

In [ ]:
from sklearn.metrics import precision_score
precision_score(y_test,y_pred)

0.5853658536585366

In [ ]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_pred)

0.2532467532467532

In [ ]:
from sklearn.metrics import recall_score
recall_score(y_test,y_pred)

0.5217391304347826

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test,y_pred)

0.5517241379310345

In [ ]:
#classification report
from sklearn.metrics import classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.81      0.84      0.82       108
           1       0.59      0.52      0.55        46

    accuracy                           0.75       154
   macro avg       0.70      0.68      0.69       154
weighted avg       0.74      0.75      0.74       154

In [ ]:
training_score=svc.score(x_train,y_train)
training_score

0.8208469055374593

In [ ]:
testing_score = svc.score(x_test,y_test)
testing_score

0.7467532467532467

**kernel - linear / sigmoid / polynomial / rbf**

In [ ]:
#kernel - linear/sigmoid/polynomial/rbf
#kernel - linear
svc_linear = SVC(C=1.0,kernel='linear')
svc_linear.fit(x_train,y_train)

SVC(kernel='linear')

In [ ]:
svc_linear_pred_train = svc_linear.predict(x_train)
svc_linear_pred_test = svc_linear.predict(x_test)

In [ ]:
print(accuracy_score(y_train,svc_linear_pred_train))
print(accuracy_score(y_test,svc_linear_pred_test))

0.7736156351791531
0.7597402597402597

In [ ]:
#kernal - sigmoid
svc_sigmoid = SVC(C = 1.0,kernel = 'sigmoid')
svc_sigmoid.fit(x_train,y_train)

SVC(kernel='sigmoid')

In [ ]:
svc_sigmoid_pred_train = svc_sigmoid.predict(x_train)
svc_sigmoid_pred_test = svc_sigmoid.predict(x_test)

In [ ]:
print(accuracy_score(y_train,svc_sigmoid_pred_train))
print(accuracy_score(y_test,svc_sigmoid_pred_test))

0.6986970684039088
0.7272727272727273

In [ ]:
#kernal - polynomial
svc_poly = SVC(C=1.0,kernel='poly')
svc_poly.fit(x_train,y_train)

SVC(kernel='poly')

In [ ]:
svc_poly_pred_train = svc_poly.predict(x_train)
svc_poly_pred_test = svc_poly.predict(x_test)

In [ ]:
print(accuracy_score(y_train,svc_poly_pred_train))
print(accuracy_score(y_test,svc_poly_pred_test))

0.8061889250814332
0.7337662337662337

In [ ]:
#kernel - rbf
svc_rbf = SVC(C=1.0,kernel='rbf')
svc_rbf.fit(x_train,y_train)

SVC()

In [ ]:
svc_rbf_pred_train = svc_rbf.predict(x_train)
svc_rbf_pred_test = svc_rbf.predict(x_test)

In [ ]:
print(accuracy_score(y_train,svc_rbf_pred_train))
print(accuracy_score(y_test,svc_rbf_pred_test))

0.8208469055374593
0.7467532467532467